p {
    color: rgba(37, 68, 68, 0.911);
}

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
}

h1 {
    font-size: 80px;
}

.num0 {
    color: chocolate;
}

section {
    display: flex;
}

.num1 {
    width: 50%;
    padding: 5%;
}

.num1 img {
    width: 75%;
}

.hire-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(212, 159, 61, 0.644), rgba(224, 107, 24, 0.842));
    color: azure;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}

.num2 {
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
}